* {
    font-family: 'Russo One', sans-serif;
}

body{
    background-color: black;
    position: relative;
    text-shadow: #464646 0 0 10px;
    user-select: none;
    cursor: url('../image/pointer.png') 0 0, default ;
}
#container {
    width: 100rem;
    margin: auto;
    border: 2px black solid;
    border-radius: 10px;
    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
}

.container-easy{
    background: linear-gradient(-90deg, #0d520c,#27a027,#0d520c);
}

.container-medium{
    background: linear-gradient(-90deg, #002e73,#4095e4,#002e73);
}

.container-hard{
    background: linear-gradient(-90deg, #5a22b5,#a77deb,#5a22b5);
}

.container-extreme{
    background: linear-gradient(-90deg, #6d071a,#883242,#6d071a);
}

.container-impossible{
    background: linear-gradient(-90deg, #151515,#737373,#151515);
}


.infos {
    border: #cccccc solid 2px;
    height: 95%;
    width: 20%;
    position: absolute;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.infos-easy{
    background: linear-gradient(90deg, #0d520c,#27a027);
}
.infos-medium{
    background: linear-gradient(90deg, #275ca0,#73a3d0);
}
.infos-hard{
    background: linear-gradient(90deg, #5a22b5,#a77deb );
}
.infos-extreme{
    background: linear-gradient(90deg, #6d071a,#883242 );
}
.infos-impossible{
    background: linear-gradient(90deg, #4e4e4e,#adadad);
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.difficulty-container p{
    width: 55%;
    padding: 8px;
    margin: 0;
    background-color: #00000063;
}

.difficulty-container p:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: white 1px solid;
    margin-bottom: 0;
}

.difficulty-container-easy {
    background-color: #0d520c;
}
.difficulty-container-medium {
    background-color: #01236e;
}
.difficulty-container-hard {
    background-color: #6e0101;
}
.difficulty-container-extreme {
    background-color: #6d071a;
}
.difficulty-container-impossible {
    background-color: #333333;
}


.difficulty-container p:nth-child(2){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#difficulty-choice {
    transition: 0.4s;
}

#difficulty-choice:hover {
    box-shadow: white 0 -5px 30px;
}

#difficulty {
    text-decoration: none;
}

#secret {
    width: 15px;
    height: 15px;
    background-size: cover;
}

#secret-options-container {
    width: 100%;
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secret-option {
    color: black;
    font-size: 0.8rem;
    border-radius: 20px;
    border: 1px groove lightblue;
    transition: 0.4s;
    text-shadow: #464646 0 0 10px;
}

.secret-inputs {
    width: 30%;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

.screen-container {
    color: lightgrey;
    width: 100%;
    text-align: center;
    position: relative;
    user-select: none;
}

.screen-container i {
    font-size: 12.5rem;
    width: 90%;
}

.screen {
    background-color: black;
    border-radius: 10px;
    position: absolute;
    width:90%;
    height: 70%;
    top: 5px;
    left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#myProgress {
    width: 100%;
    background-color: rgb(49, 49, 49);
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

#myBar {
    width: 0%;
    height: 10px;
    background-color: #fcc10067;
}

.secret-options-display-container {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 0.7rem;
}

#occurence-display{
    right:0;
    left:auto;
}

.rules {
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 10px;
    border-radius: 30px;
    user-select: none;
}

#start-button {
    cursor: url('../image/pointer.png') 0 0, default ;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px groove lightblue;
    width: 50%;
    margin: 10px 25% 0;
    transition: 0.2s;
}
.start-button-easy {
    background-color: #0d520c;
}
.start-button-medium {
    background-color: #01236e;
}
.start-button-hard {
    background-color: #42016e;
}
.start-button-extreme {
    background-color: #6d071a;
}
.start-button-impossible {
    background-color: #4e4e4e;
}

#start-button:hover {
    box-shadow: white 0 0 30px;
}

#scores-container {
    overflow: hidden;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    border: #cccccc solid 2px;
    width: 20%;
    height: 95%;
    position: absolute;
    right: 1rem;
    z-index: 2;

    
}

.scores {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: space-around;
    transition: 1s;
}


#secret {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.5rem;
    text-shadow: none;
    color: #ffffff08;
}

.secret-active {
    animation: secret-blink 0.5s linear infinite;
}

#secret-commands {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 149px;
    top: 0;
    right: 0;
    width: 80%;
    padding-left: 60px;
    background-color: rgba(0, 0, 0, 0.37);
    border-bottom: 1px white solid;
    z-index: 0;
}

#secret-commands > * {
    font-size: 0.7rem;
}

.move-score-panel-down {
    top: 150px;

}

.scores-easy {
    background: linear-gradient(-90deg, #0d520c,#27a027);
}
.scores-medium {
    background: linear-gradient(-90deg, #275ca0,#73a3d0);
}
.scores-hard {
    background: linear-gradient(-90deg, #5a22b5,#a77deb);
}
.scores-extreme {
    background: linear-gradient(-90deg, #6d071a,#883242);
}
.scores-impossible {
    background: linear-gradient(-90deg, #4e4e4e,#adadad);
}

.your-score {
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.11);
    font-size: 2.5rem;
    width: 75%;
    border: 1px solid grey;
    height: 5rem;
    margin: auto;
    overflow: hidden;
    text-align: right;
    position: relative;
}

.score-title {
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    left: 0;
}

.your-score p {
    padding: 1.25rem 30px;
    margin: auto;
    height: 1rem;
}

.top-scores {
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.11);
    font-size: 1.2rem;
    width: 75%;
    overflow: hidden;
    border: 1px solid grey;
    height: 25rem;
    margin: auto;
    position: relative;
}

.top-scores p {
    margin: 5px auto;
    padding: 0 10px;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-scores p:first-child {
    text-align: center;
    display: block;
}

.hidden {
    display: none;
}

.police-band {
    position: absolute;
    border-top:10px dashed black;
    border-bottom:10px dashed black;
    color: black;
    height: 1.5rem;
    background-color: yellow;
    text-shadow: none;
    width: 200%;
    top: 150px;
    left: -100px;
    text-align: center;
    transform: rotate(50deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.police-band-reverse {
    transform: rotate(-50deg);
    top: 200px;
}

#grid-container {
    cursor: url('../image/viseur.png') 22 22, default ;
    background-color: lightgrey;
    border-radius: 40px;
    width: 47rem;
    height: 47rem;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px #aaaaaa groove;
}

#grid-container:active {
    cursor: url('../image/viseur-actif.png') 22 22, default ;
}

.grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    height: 100%;
    display: flex;
    justify-content: start;
}

.cell {
    box-sizing: border-box;
    height:100%;
    width: 100%;
    border-radius: 35%;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    user-select: none;

}

.cell-bonus {
    text-align: center;
    font-size: 0.80rem;
    color: #ffcd50;
    animation: bonus 1s linear;
}


.cell-easy {
    background: linear-gradient(-200deg, #27a027, #0d520c);
    border: 0.3rem outset #a1be99;
}
.cell-medium {
    background: linear-gradient(-200deg, #7daaeb, royalblue);
    border: 0.3rem outset lightsteelblue;
}
.cell-hard {
    background: linear-gradient(-200deg, #a77deb, #5a22b5);
    border: 0.3rem outset #c8b0de;
}
.cell-extreme {
    background: linear-gradient(-200deg, #883242, #6d071a);
    border: 0.3rem outset #b3838c;
}
.cell-impossible {
    background: linear-gradient(-200deg, #cac9c9, #464646);
    border: 0.3rem outset #b9b9b9;
}

.cell:hover{
    border: 0.3rem inset;
}

.cell:active{
    border: 0.3rem inset goldenrod;
}

/**=========================Useful for scripts====================**/

@keyframes blinker-bonus {
    from{
        background: linear-gradient(0deg, gold, goldenrod);
        border: 0.3rem outset #747474;
    }
    10%{
        background: linear-gradient(36deg, gold, goldenrod);
    }20%{
        background: linear-gradient(72deg, gold, goldenrod);
    }30%{
        background: linear-gradient(108deg, gold, goldenrod);
    }40%{
        background: linear-gradient(144deg, gold, goldenrod);
    }50%{
        background: linear-gradient(180deg, gold, goldenrod);
    }60%{
        background: linear-gradient(216deg, gold, goldenrod);
    }70% {
        background: linear-gradient(252deg, gold, goldenrod);
    }80%{
        background: linear-gradient(288deg, gold, goldenrod);
    }90%{
        background: linear-gradient(324deg, gold, goldenrod);
    }to{
        background: linear-gradient(360deg, gold, goldenrod);
        border: 0.3rem outset #747474;
    }
}

@keyframes blinker {
    from{
        background: linear-gradient(0deg, #ffffff, #5c5c5c);
        border: 0.3rem outset #747474;
    }
    10%{
        background: linear-gradient(36deg, #ffffff, #5c5c5c);
    }20%{
        background: linear-gradient(72deg, #ffffff, #5c5c5c);
    }30%{
        background: linear-gradient(108deg, #ffffff, #5c5c5c);
    }40%{
        background: linear-gradient(144deg, #ffffff, #5c5c5c);
    }50%{
        background: linear-gradient(180deg, #ffffff, #5c5c5c);
    }60%{
        background: linear-gradient(216deg, #ffffff, #5c5c5c);
    }70% {
        background: linear-gradient(252deg, #ffffff, #5c5c5c);
    }80%{
        background: linear-gradient(288deg, #ffffff, #5c5c5c);
    }90%{
        background: linear-gradient(324deg, #ffffff, #5c5c5c);
    }to{
        background: linear-gradient(360deg, #ffffff, #5c5c5c);
        border: 0.3rem outset #747474;
    }
}

@keyframes valid {
    0%{
        border: 0.3rem #006e32 inset;
        background:#006e32 ;
    }
    50%{
        border: 0.3rem #1db69c inset;
        background: #1db69c;
    }
    100%{
        border: 0.3rem #006e32 inset;
        background: #006e32;
    }
}

@keyframes bonus {
    0%{
        text-shadow: #ffcd50 0 0 0;
    }
    50%{
        text-shadow: #ffcd50 0 0 10px;
        color: #daa52000;
    }
    100%{
        text-shadow: #ffcd50 0 0 30px;
        color: #daa52000;
    }
}

@keyframes missclick {
    0%{
        border: 0.3rem orange inset;
        background:orange ;
    }
    50%{
        border: 0.3rem red inset;
        background: red;
    }
    100%{
        border: 0.3rem orange inset;
        background: orange;
    }
    
}

@keyframes secret-blink {
    50%{
        background-image: url('https://img.icons8.com/ultraviolet/80/000000/triforce.png');
    }
}

#end-game-container {
    position: absolute;
    top: 80%;
    left: 80%;
    width:20%;
    height: 20%;
    display: none;    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 0.9rem;
    z-index: 10;
}


#end-game {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 2%;
    background-color: #000000bd;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: 0.5s;
    top:100%;
    z-index: 10;
}


#end-game-close {
    position: absolute;
    top: 10px;
    right: 15px;
}

#end-game-form {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#end-game-form-error {
    position: absolute;
    bottom: 0.7rem;
    right: 1rem;
    height: 1em;
    font-size: 0.7rem;
    color: red;
}

#end-game-button {
    width: 25%;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem;
    color: white;
    border: 1px solid white;
    background-color: black;
    transition: 0.5s;
    border-radius: 20px;
}

#end-game-button:hover{
    box-shadow: white 0 0 20px;
}

#username {
    color: white;
    width: 12ch;
    border-radius: 10px;
    padding: 0.3rem;
    background-color: #222222c4;
    border: white solid 1px
}

#options {
    margin: auto;
    padding: 0 8px 8px;
    width: 55%;
    background: #00000063;
    backdrop-filter: blur(10px);
    position: absolute;
    top:2.5rem;
    border: 1px solid #141414;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

#options li {
    list-style-type: none;
    margin: auto;
    padding: 2px 0;
    transition: 0.2s;
}

#options li:hover {
    text-shadow: white 0 0 10px;
}

.dif-easy {
    color:  #1cad1a;
}
.dif-medium {
    color: #4095e4;
}
.dif-hard {
    color: #a77deb;
}
.dif-extreme {
    color: #883242;
}
.dif-impossible {
    color: #737373;
}

/* cells */

.target {
    animation: blinker 0.2s linear infinite;
}
.target-bonus {
    animation: blinker-bonus 0.2s linear infinite;
}
.target-valid {
    animation: valid 0.5s linear ;
}

.cell-missclick {
    text-align: center;
    font-size: 1rem;
    border: 0.3rem inset;
    font-weight: bold;
    animation: missclick 0.7s;
}

.overlay {
    background-image: url('../image/crack.png');
    background-size: cover ;
    overflow: hidden;
    position: absolute;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height:100%;
    width: 100%;
    border-radius: 35%;
    transition: 0s;
    z-index: 10;
}

/* target background
    background: radial-gradient(circle, rgba(0,0,0,1) 3%, rgba(255,0,0,1) 4%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 12%, rgba(255,0,0,1) 12%, rgba(255,0,0,1) 19%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 31%, rgba(245,0,0,1) 32%, rgba(255,0,0,1) 43%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 54%, rgba(255,0,0,1) 55%, rgba(255,0,0,1) 65%, rgba(231,209,0,1) 65%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%);
*/